.questions .heading {
  margin-bottom: 1em;
}

.questions p {
  margin-bottom: 1em;
}

.questions .vercelFeature {
  font-weight: bold;
  margin-bottom: 0.5em;
}

.questions .questionBox {
  border: solid 1px;
  padding: 1em;
  margin-bottom: 1em;
}

.questions .questionBox h2 {
  font-size: 1em;
  margin-bottom: 0.5em;
}

.questions .questionBox ol {
  font-size: 1em;
  margin-bottom: 0.5em;
  padding-left: 1em;
}
